container {
    font-family: 'Noto Sans', sans-serif;
    margin-top: 80px;
}

th {
    height: 30px;
    text-align: center;
    font-weight: 700;
}
td{
    height: 100px;
}

today {
    background: #e2b93d;
}

th:nth-of-type(7),td:nth-of-type(7) {
    color: #0E0EFF;
}
th:nth-of-type(1),td:nth-of-type(7) {
    color: red;
}
